body {
  background-color: #ffe6ff;
}

#main-card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  box-shadow: 0px 0px 20px rgba(255, 182, 193, 0.4);
}

.title-card {
  text-align: center;
  padding-top: 30px;
}

h1 {
  color: #ff4da6;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

textarea, input {
  border: 2px solid #add8e6 !important;
  border-radius: 15px !important;
  padding: 10px;
}

button {
  background: linear-gradient(90deg, #ff99cc, #99ccff);
  color: white !important;
  border-radius: 15px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border: none !important;
}
